@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('../../storage/app/public/background.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh; 
}